/* Fonts */
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/Aleo-Regular.otf"); }

/* Colors */
/* Basic Tags */
body {
  font-family: "Aleo", sans-serif; }

.container {
  display: none; }

.result {
  background: white;
  color: #333333;
  text-align:left !important;
}

.result section {
  text-align:left;
}
.container {
  display: block; }

#desktop_alert {
  display: none; }

#internal-header {
  background: url("../img/page_heading.jpg");
  height: 65px; }
  #internal-header #logo {
    padding-top: 15px; }

#navigation {
  background: #333333;
  position: absolute;
  flex-flow: y-axis;
  color: white;
  padding-left: -30px;
  height: 100%;
  width: 50px;
  float: left; }
  #navigation .nav-button {
    width: 50px;
    padding-top: 10px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out; }
    #navigation .nav-button .nav-button img {
      width: 50px; }
  #navigation .nav-button:hover {
    opacity: 0.7; }

#results {
  display: block;
/*  width: 300px;
  margin-left: 70px;*/ }
/*  #results .space {
    margin: 0 auto;
    height: 5px;
    width: 100%;
    border-top: 2px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9; }*/
  #results .cat {
    float: left;
    padding: 20px; }
    #results .cat img {
      width: 24px; }
  #results .title {
    width: 300px;
    font-size: 1.3em;
    padding: 20px;
    height: 20px; 
    text-align:left !important;
    padding-bottom:0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #results .title  {color:#333;text-decoration: none;}
  #results .pic {
    display: inline-block;
    float:left;
    padding: 20px;
    width: 100px;
    /*margin-left: -67px;*/ 
    padding-bottom: 5px;
  }
    #results .pic img {
      width: 100px; }
  #results .details {
    display: inline-block;
    float: left;
    /*width: 230px;*/
    font-size: 1.1em;
    padding-top: 18px; }
    #results .details .tel {
      color: #ff6666; }
  #results .review {
    margin: 0 auto;
    clear: both;
    width: 90%;
    text-overflow: ellipsis;
    text-decoration: italic;
    font-size: 0.9em;
    padding-bottom: 30px;
    font-style: italic;
    line-height:1;
    margin-top:-10px;
    display:block;
     }
    #results .review .quote {
      position: relative;
      color: #ff6666;
      font-size: 2em;
      display: inline-block;
      width: 10px; 
      margin-top: 5px;
      display: inline-block;
    }
