/* Fonts */
@font-face {
  font-family: "Aleo";
  src: url("../fonts/aleo/Aleo-Regular.otf");
}

/* Colors */

$pink : #ff6666;
$light-pink : #ff7676;
$black : #333333;
$white : #ffffff;



body { font-family: "Aleo", sans-serif; }
.container { display: none; }



/* All application CSS is located within the media-query */
@media screen and (max-width:480px) {

  /* Basic Tags */
  body {  }
  #desktop_alert { display: none; }
  .container { display: block; margin: 0 auto; width: 90%; }
  a:link, a:active, a:visited { color: $white; text-decoration: none; }


  #background { background: $black /*url('../img/background.jpg')*/ no-repeat fixed bottom; position: absolute; z-index: -1; overflow: hidden; background-size: cover;  height: 100%; width: 100%; }

  /* Header */

  #header {

    #logo { padding-top: 50px; text-align: center; }

  }

  #message { padding: 100px 0 0 0; text-align: center; font-size: 2.5em; color: #fff; text-shadow: 0px 2px 1px #737373; }

  #time-selection { margin: 0 auto; padding-top: 80px; width: 300px;
    select { width: 300px; background: $white; padding: 30px; }
    option { height: 300px; background: red; }
 }

  #button { padding: 15px 0 5px 0; margin: 80px auto; background: $pink; color: $white; font-size: 1.5em; height: 30px; width: 200px; text-align: center; border-radius: 5px; box-shadow: 0px 3px #d89292; }
  #button:hover { background: $light-pink; }

}
